/* SPDX-FileCopyrightText: 2025-present Ahum Maitra theahummaitra@gmail.com

SPDX-License-Identifier: 	GPL-3.0-or-later */

/* Repository url : https://github.com/TheAhumMaitra/cautious-waddle */

/* DEFAULT THEME FOR WALLUST
 */

@define-color foreground #cdd6f4;
@define-color background #1e1e2e;
@define-color cursor #11111b;

@define-color color0 #f9e2af;
@define-color color1 #74c7ec;
@define-color color2 #fab387;
@define-color color3 #313244;
@define-color color4 #8be9fd;
@define-color color5 #bd93f9;
@define-color color6 #ff79c6;
@define-color color7 #f8f8f2;

@define-color color8 #6272a4;
@define-color color9 #f38ba8;
@define-color color10 #89dceb;
@define-color color11 #7f849c;
@define-color color12 #b4befe;
@define-color color13 #bd93f9;
@define-color color14 #89b4fa;
@define-color color15 #181825;
