/* SPDX-FileCopyrightText: 2025-present Ahum Maitra theahummaitra@gmail.com

SPDX-License-Identifier: 	GPL-3.0-or-later */

/* Repository url : https://github.com/TheAhumMaitra/cautious-waddle */

/* DEFAULT THEME FOR WALLUST
 */

@define-color foreground #ebdbb2;
@define-color background #282828;
@define-color cursor #fabd2f;

@define-color color0 #d3869b;
@define-color color1 #ebdbb2;
@define-color color2 #fabd2f;
@define-color color3 #282828;
@define-color color4 #504945;
@define-color color5 #7c6f64;
@define-color color6 #d65d0e;
@define-color color7 #32302f;

@define-color color8 #f54934;
@define-color color9 #458588;
@define-color color10 #928374;
@define-color color11 #8ec07c;
@define-color color12 #ebdbb2;
@define-color color13 #83a598;
@define-color color14 #b16286;
@define-color color15 #b8bb26;
